In [2]:
import pandas as pd
import json

In [3]:
data = pd.read_csv("bars_list_ca.csv")
data

,Unnamed: 0,business_id,stars_x,text,name,address,city,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,hours
0,10,SZU9c8V2GuREDN5KgyHFJw,5,We were a bit weary about trying the Shellfish...,Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'OutdoorSeating': 'True', 'RestaurantsAttire'...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
1,22,eL4lyE7LNoXEMvpcJ8WNVw,5,"Great, beautiful spot to do wine tasting. I lo...",Deep Sea Tasting Room,217 G Stearns Wharf,Santa Barbara,CA,93101,34.410007,-119.685549,4.0,472,1,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
2,37,eL4lyE7LNoXEMvpcJ8WNVw,3,This was a tough one! On the merits of the w...,Deep Sea Tasting Room,217 G Stearns Wharf,Santa Barbara,CA,93101,34.410007,-119.685549,4.0,472,1,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
3,40,SZU9c8V2GuREDN5KgyHFJw,5,"I love trying fresh seafood on piers, wharfs a...",Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'OutdoorSeating': 'True', 'RestaurantsAttire'...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
4,48,SZU9c8V2GuREDN5KgyHFJw,5,"Super delish!! No frills! Just great sea food,...",Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'OutdoorSeating': 'True', 'RestaurantsAttire'...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44688,594302,q-1ICFSqs2MwDGfe5tX-SQ,5,Now my favorite brunch spot in Santa Barbara. ...,Yellow Belly,2611 De La Vina St,Santa Barbara,CA,93105,34.434854,-119.724729,4.0,337,1,"{'Music': ""{'dj': False}"", 'NoiseLevel': ""'ave...","{'Monday': '0:0-0:0', 'Tuesday': '16:30-20:0',..."
44689,594309,wMZAnrfwV-qHiV5zdTSrzw,5,The combo meat plate was so good and tons of f...,The Creekside Restaurant & Bar,4444 Hollister Ave,Santa Barbara,CA,93110,34.440058,-119.771789,4.0,296,1,"{'RestaurantsTakeOut': 'True', 'WheelchairAcce...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-19:30',..."
44690,594337,KSYONgGtrK0nKXfroB-bwg,2,My table got so many weird looks from the empl...,Loquita,202 State St,Santa Barbara,CA,93101,34.414204,-119.691644,4.5,914,1,"{'WiFi': ""u'no'"", 'BusinessAcceptsCreditCards'...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ..."
44691,594345,fiQxkb1pfPpvrr0oYYYBcA,5,"If I could give more than 5 stars, I would! I ...",The Daisy Restaurant,1221 State St,Santa Barbara,CA,93101,34.423787,-119.705281,5.0,98,1,"{'DogsAllowed': 'True', 'HappyHour': 'True', '...","{'Monday': '0:0-0:0', 'Wednesday': '17:0-21:0'..."
44692,594348,r2IhvKZQ_wLR5mLBnPOilg,4,One of my favorite restaurants in Santa Barbar...,The Honor Bar,"1255 Coast Village Rd, Ste 101",Santa Barbara,CA,93108,34.421044,-119.641903,4.5,557,1,"{'BusinessAcceptsCreditCards': 'True', 'DogsAl...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."

In [4]:
attri = data['attributes']
attri
len(attri)

44693

In [5]:
attri

0        {'OutdoorSeating': 'True', 'RestaurantsAttire'...
1        {'RestaurantsGoodForGroups': 'True', 'OutdoorS...
2        {'RestaurantsGoodForGroups': 'True', 'OutdoorS...
3        {'OutdoorSeating': 'True', 'RestaurantsAttire'...
4        {'OutdoorSeating': 'True', 'RestaurantsAttire'...
                               ...
44688    {'Music': "{'dj': False}", 'NoiseLevel': "'ave...
44689    {'RestaurantsTakeOut': 'True', 'WheelchairAcce...
44690    {'WiFi': "u'no'", 'BusinessAcceptsCreditCards'...
44691    {'DogsAllowed': 'True', 'HappyHour': 'True', '...
44692    {'BusinessAcceptsCreditCards': 'True', 'DogsAl...
Name: attributes, Length: 44693, dtype: object

In [6]:
df=pd.DataFrame(attri)

In [8]:
z = df.loc[0]
z

attributes    {'OutdoorSeating': 'True', 'RestaurantsAttire'...
Name: 0, dtype: object

In [7]:
q = df.loc[1]
w = ast.literal_eval(q["attributes"])
w
df2 = pd.DataFrame([w])
q

attributes    {'RestaurantsGoodForGroups': 'True', 'OutdoorS...
Name: 1, dtype: object

In [ ]:
df2

In [ ]:
f = pd.concat([df1,df2], axis=0, ignore_index=True)

In [9]:
import ast
a = ast.literal_eval(z["attributes"])
a

{'OutdoorSeating': 'True',
 'RestaurantsAttire': "'casual'",
 'RestaurantsReservations': 'False',
 'BusinessAcceptsCreditCards': 'True',
 'NoiseLevel': "u'average'",
 'RestaurantsPriceRange2': '2',
 'RestaurantsGoodForGroups': 'False',
 'WiFi': "u'no'",
 'Alcohol': "'beer_and_wine'",
 'RestaurantsTakeOut': 'True',
 'BikeParking': 'True',
 'BusinessParking': "{'garage': False, 'street': False, 'validated': True, 'lot': False, 'valet': False}",
 'HasTV': 'False',
 'ByAppointmentOnly': 'False',
 'GoodForKids': 'True',
 'Caters': 'False',
 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': True}",
 'RestaurantsDelivery': 'True',
 'HappyHour': 'False',
 'Music': "{u'dj': False, u'live': False, u'jukebox': False, u'video': False, u'background_music': False, u'karaoke': False, u'no_music': False}",
 'GoodForMeal': "{u'breakfast': False, u'brunch': None, u'lunch': True, u'dinner': True, u'latenight': False, u'dessert': False}",
 'CoatCheck': 'False',
 'BestNights': "{u'monday': False, u'tuesday': False, u'wednesday': False, u'thursday': False, u'friday': False, u'saturday': True, u'sunday': False}",
 'BusinessAcceptsBitcoin': 'False'}

In [13]:
df1=pd.DataFrame([a])
df1

,GoodForKids,RestaurantsGoodForGroups,RestaurantsAttire,BusinessAcceptsCreditCards,Caters,RestaurantsPriceRange2,Alcohol,RestaurantsTakeOut,BusinessParking,BikeParking,...,WiFi,GoodForDancing,RestaurantsDelivery,WheelchairAccessible,Ambience,OutdoorSeating,BusinessAcceptsBitcoin,DogsAllowed,HappyHour,BYOB
0,True,True,u'casual',True,True,2,u'beer_and_wine',True,"{'garage': False, 'street': True, 'validated':...",True,...,u'free',False,True,True,"{'touristy': False, 'hipster': False, 'romanti...",True,False,False,False,False

In [ ]:
m = data[['business_id', 'stars_x']]
result = pd.concat([m, f], axis=1, join="inner")
result
result.to_csv("result.csv")

In [11]:
data = pd.read_csv("bars_list_ca.csv")
attri = data['attributes']
df=pd.DataFrame(attri)
n = data[['business_id', 'stars_x']]
f=df1
for i in range (0,2001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

In [12]:
result1

,business_id,stars_x,GoodForKids,RestaurantsGoodForGroups,RestaurantsAttire,BusinessAcceptsCreditCards,Caters,RestaurantsPriceRange2,Alcohol,RestaurantsTakeOut,...,BusinessAcceptsBitcoin,DogsAllowed,HappyHour,BYOB,ByAppointmentOnly,BestNights,BYOBCorkage,Corkage,Smoking,AgesAllowed
0,SZU9c8V2GuREDN5KgyHFJw,5,True,True,u'casual',True,True,2,u'beer_and_wine',True,...,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,False,"{u'monday': False, u'tuesday': False, u'wednes...",NaN,NaN,NaN,NaN
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,False,"{u'monday': False, u'tuesday': False, u'wednes...",NaN,NaN,NaN,NaN
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,u'casual',True,True,2,'full_bar',True,...,NaN,True,True,False,False,"{'monday': False, 'tuesday': True, 'friday': F...",'yes_corkage',True,u'no',NaN
4,SZU9c8V2GuREDN5KgyHFJw,5,False,True,u'casual',True,False,2,u'beer_and_wine',True,...,NaN,True,True,NaN,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,H-1qpp_77KggOAr9htUrEw,4,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,False,"{u'monday': False, u'tuesday': False, u'wednes...",NaN,NaN,NaN,NaN
1998,SZU9c8V2GuREDN5KgyHFJw,5,False,True,u'casual',True,False,2,u'beer_and_wine',True,...,NaN,True,True,NaN,False,NaN,NaN,NaN,NaN,NaN
1999,SZU9c8V2GuREDN5KgyHFJw,5,False,True,u'casual',True,False,2,u'beer_and_wine',True,...,NaN,True,True,NaN,False,NaN,NaN,NaN,NaN,NaN
2000,1FURjeGJi_LBXcJQg8eskw,5,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,False,"{u'monday': False, u'tuesday': False, u'wednes...",NaN,NaN,NaN,NaN
2001,ywXa1pDqHPe9tOPx0yJFUg,4,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,False,"{u'monday': False, u'tuesday': False, u'wednes...",NaN,NaN,NaN,NaN

In [13]:
for i in range (2001,4001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result2 = pd.concat([n, f], axis=1, join="inner")

In [14]:
result2

,business_id,stars_x,GoodForKids,RestaurantsGoodForGroups,RestaurantsAttire,BusinessAcceptsCreditCards,Caters,RestaurantsPriceRange2,Alcohol,RestaurantsTakeOut,...,BusinessAcceptsBitcoin,DogsAllowed,HappyHour,BYOB,BYOBCorkage,Corkage,Smoking,BestNights,ByAppointmentOnly,AgesAllowed
0,SZU9c8V2GuREDN5KgyHFJw,5,True,True,u'casual',True,True,2,u'beer_and_wine',True,...,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,u'casual',True,True,2,'full_bar',True,...,NaN,True,True,False,'yes_corkage',True,u'no',"{'monday': False, 'tuesday': True, 'friday': F...",False,NaN
2,eL4lyE7LNoXEMvpcJ8WNVw,3,NaN,True,u'casual',True,False,2,u'full_bar',True,...,False,True,True,False,NaN,True,u'no',"{'monday': False, 'tuesday': False, 'friday': ...",False,NaN
3,SZU9c8V2GuREDN5KgyHFJw,5,NaN,True,NaN,True,False,2,'beer_and_wine',True,...,NaN,True,True,NaN,NaN,NaN,u'no',"{'monday': False, 'tuesday': False, 'friday': ...",False,NaN
4,SZU9c8V2GuREDN5KgyHFJw,5,False,True,u'casual',True,NaN,2,u'full_bar',NaN,...,False,False,True,NaN,NaN,True,u'no',"{'monday': False, 'tuesday': False, 'friday': ...",False,u'21plus'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,#NAME?,5,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,NaN,NaN,NaN,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN
3998,q75UQjNm6AEK4XNnkDLxTQ,5,False,True,u'casual',True,False,2,u'beer_and_wine',True,...,NaN,True,True,NaN,NaN,NaN,NaN,NaN,False,NaN
3999,H-1qpp_77KggOAr9htUrEw,4,False,True,u'casual',True,False,2,u'beer_and_wine',True,...,NaN,True,True,NaN,NaN,NaN,NaN,NaN,False,NaN
4000,1FURjeGJi_LBXcJQg8eskw,4,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,NaN,NaN,NaN,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN
4001,1FURjeGJi_LBXcJQg8eskw,5,True,False,'casual',True,False,2,'beer_and_wine',True,...,False,NaN,False,NaN,NaN,NaN,NaN,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN

In [15]:
for i in range(4001,6001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [16]:
result3

,business_id,stars_x,GoodForDancing,BusinessAcceptsBitcoin,HappyHour,OutdoorSeating,BestNights,RestaurantsGoodForGroups,WheelchairAccessible,RestaurantsAttire,...,Corkage,AgesAllowed,BusinessParking,RestaurantsTakeOut,RestaurantsTableService,Caters,GoodForMeal,BYOB,RestaurantsDelivery,BYOBCorkage
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,True,True,"{'monday': False, 'tuesday': False, 'friday': ...",True,True,u'casual',...,True,u'21plus',"{'garage': True, 'street': True, 'validated': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eL4lyE7LNoXEMvpcJ8WNVw,5,False,False,True,True,"{'monday': False, 'tuesday': False, 'friday': ...",True,True,'casual',...,True,NaN,"{'garage': False, 'street': True, 'validated':...",True,True,False,"{'dessert': True, 'latenight': None, 'lunch': ...",True,True,NaN
2,eL4lyE7LNoXEMvpcJ8WNVw,3,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN
3,SZU9c8V2GuREDN5KgyHFJw,5,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN
4,SZU9c8V2GuREDN5KgyHFJw,5,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5997,SZU9c8V2GuREDN5KgyHFJw,5,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN
5998,SZU9c8V2GuREDN5KgyHFJw,4,NaN,NaN,True,True,NaN,True,False,u'casual',...,NaN,NaN,"{'garage': False, 'street': True, 'validated':...",True,NaN,False,NaN,NaN,True,NaN
5999,zbrIMldF_O1ZQ0vpUaaa8A,3,NaN,NaN,True,True,NaN,True,False,u'casual',...,NaN,NaN,"{'garage': False, 'street': True, 'validated':...",True,NaN,False,NaN,NaN,True,NaN
6000,2nk4hq2oRfym8ROQ5iS47g,5,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN
6001,SZU9c8V2GuREDN5KgyHFJw,5,NaN,False,False,True,"{u'monday': False, u'tuesday': False, u'wednes...",False,NaN,'casual',...,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,False,"{u'breakfast': False, u'brunch': None, u'lunch...",NaN,True,NaN

In [17]:
for i in range(6001,8001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result4 = pd.concat([n, f], axis=1, join="inner")

In [ ]:
result4

In [18]:
for i in range(8001,10001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result5 = pd.concat([n, f], axis=1, join="inner")

In [ ]:
result5

In [19]:
for i in range (10001,12001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result6 = pd.concat([n, f], axis=1, join="inner")

In [20]:
for i in range (12001,14001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result7 = pd.concat([n, f], axis=1, join="inner")

In [21]:
for i in range (14001,16001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result8 = pd.concat([n, f], axis=1, join="inner")

In [ ]:
result8

In [22]:
for i in range (16001,18001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result9 = pd.concat([n, f], axis=1, join="inner")

In [23]:
for i in range (18001,20001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result10 = pd.concat([n, f], axis=1, join="inner")

In [24]:
for i in range (20001,22001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result11 = pd.concat([n, f], axis=1, join="inner")

In [25]:
for i in range (22001,24001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result12 = pd.concat([n, f], axis=1, join="inner")

In [26]:
for i in range (24001,26001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result13 = pd.concat([n, f], axis=1, join="inner")

In [27]:
for i in range (26001,28001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result14 = pd.concat([n, f], axis=1, join="inner")

In [28]:
for i in range (28001,30001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result15 = pd.concat([n, f], axis=1, join="inner")

In [29]:
for i in range (30001,32001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result16 = pd.concat([n, f], axis=1, join="inner")

In [30]:
for i in range (32001,34001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result17 = pd.concat([n, f], axis=1, join="inner")

In [31]:
for i in range (34001,36001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result18 = pd.concat([n, f], axis=1, join="inner")

In [33]:
for i in range (36001,38001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result19 = pd.concat([n, f], axis=1, join="inner")

In [34]:
for i in range (38001,40001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result20 = pd.concat([n, f], axis=1, join="inner")

In [37]:
for i in range (40001,42001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result21 = pd.concat([n, f], axis=1, join="inner")

In [38]:
for i in range (42001,44001):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result22 = pd.concat([n, f], axis=1, join="inner")

ValueError: malformed node or string: nan

In [ ]:
for i in range (44001,44693):
    m = df.loc[i]
    a = ast.literal_eval(m["attributes"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result23 = pd.concat([n, f], axis=1, join="inner")

In [39]:
result21

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsPriceRange2,...,DriveThru,WheelchairAccessible,RestaurantsTableService,BYOB,Corkage,ByAppointmentOnly,DogsAllowed,Smoking,BYOBCorkage,AgesAllowed
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,u'average','beer_and_wine',True,True,True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,u'average',u'beer_and_wine',True,True,False,2,...,False,True,False,False,True,False,True,u'no',NaN,NaN
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,u'quiet','beer_and_wine',True,True,True,2,...,NaN,True,NaN,NaN,NaN,False,True,u'no',NaN,NaN
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,u'average',u'beer_and_wine',True,True,False,2,...,False,True,False,False,True,False,True,u'no',NaN,NaN
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,'average','beer_and_wine',True,True,False,2,...,NaN,True,True,False,True,NaN,True,u'no',NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,QLHgjBHBoeIUoEvIPvjHnw,4,True,False,u'average','beer_and_wine',False,True,False,2,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
41998,QBNATcq7Stx9LxcSq16W7w,5,True,False,u'quiet',u'beer_and_wine',True,True,False,2,...,NaN,False,NaN,NaN,NaN,False,True,NaN,NaN,NaN
41999,QLHgjBHBoeIUoEvIPvjHnw,5,True,False,u'quiet',u'beer_and_wine',True,True,False,2,...,NaN,False,NaN,NaN,NaN,False,True,NaN,NaN,NaN
42000,krTxH1a9kzWgwvt3PVH8pQ,5,True,False,u'average','beer_and_wine',False,True,False,2,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
42001,YiSr-W5BBX6uXnhWPxk82Q,5,True,False,u'average','beer_and_wine',False,True,False,2,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN

In [40]:
result21.to_csv("result.csv")